.page-content {
  display: flex;
  height: $page-content-height;
  margin: 0 auto;
  max-width: $site-max-width;
  padding: 1.3rem;
}

.page-content__sidebar {
  display: flex;
  width: $sidebar-width;
}

.page-content__main {
  display: flex;
  width: $main-width;
}